<!-- Section des articles les plus vendus -->
<section class="container mt-4">
    <h2 class="mb-4 justify-content-center d-flex">Articles les plus vendus</h2>
  
    <!-- Ligne 1 -->
    <div class="row">
      <!-- Article 1 -->
      <div *ngFor="let item of [1, 2, 3, 4, 5]" class="col-md-3 mb-4">
        <app-product-card titre="iPhone 12" prix="120000" img_url="12black-2.jpg"></app-product-card>
      </div>
      
  
     
      
    </div>
  
    <!-- Ajoutez d'autres lignes d'articles ici -->
  
  </section>