<div class="card border-0 rounded-0 shadow m-3" style="width: 18rem; height: 20em;">
    <img src="../../../../assets/img/{{img_url}}" class="card-img-top img-fluid rounded-0  mx-auto" routerLink="/details-produit/1"  style="width: 80px; max-height: 180px" alt="...">
    <div class="card-body mt-3 mb-3">
        <div class="row">
            <div class="col-12">
                <h4 class="card-title text-center">{{titre}}</h4>
            </div>
            <div class="row align-items-center text-center g-0">
                <div class="col-md-12"> <h5>FCFA {{prix}}</h5></div>
            </div>
            <div class="col-2">
                <i class="bi bi-bookmark-plus fs-2"></i>
            </div>
        </div>
    </div>
    <div class="row ">
        
        <div class="col-12">
            <a href="#" class="btn btn-dark w-100 p-3 rounded-0 text-warning">Commander</a>
        </div>
    </div>
</div>