<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h1 class="heading">Liste des produits</h1>
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nom</th>
              <th>Prix</th>
              <th>Categorie</th>
              <th>Image</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of produits">
              <td>{{ p.id }}</td>
              <td>{{ p.nomProduit }}</td>
              <td>{{ p.prix }}</td>
              <td>{{ p.categorie?.nomCategorie }}</td>

              <td>
                <img
                  [src]="
                    'data:' +
                    p.imageProduitContentType +
                    ';base64,' +
                    p.imageProduit
                  "
                  class="img-fluid"
                  style="height: 36px"
                />
              </td>

              <div class="row">
                <div class="col-4">
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="deleteProduits(p.id)"
                  >
                    Supprimmer
                  </button>
                </div>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-4"><app-ajouter-produit></app-ajouter-produit></div>
  </div>
</div>
